.pagina-container-a {
  display: flex !important;
  flex-direction: column !important;
  width: 80% !important;
  height: 100% !important; /* Ocupa toda a altura injetada pelo App.tsx */
  overflow: hidden !important; /* Impede vazamentos */
}


/* Força exatamente 2 colunas lado a lado */
.novos-cards-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important; /* Cria 2 colunas com tamanhos iguais (50% cada) */
  gap: 20px !important; /* Espaçamento de 20px entre os cards (tanto do lado quanto abaixo) */
  width: 100% !important;
}

/* Estilização padrão dos novos cards */
.novo-card-item {
  background-color: #efecec !important;
  border: 1px solid #efecec !important;
  padding: 25px !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  text-align: left !important;
  text-transform: uppercase !important;
}

/* Estilo específico para o H3 (Título) dentro do novo card */
.novo-card-item h3 {
  color: #2d2d2d !important;        /* Substitua pela cor de texto que você deseja */
  text-align: left !important;
  margin-bottom: 100px !important;    /* Espaço sutil entre o título e o parágrafo */
}

/* Estilo específico para o P (Texto/Parágrafo) dentro do novo card */
.novo-card-item p {
  color:#2d2d2d !important;        /* Substitua pela cor de texto que você deseja */
  text-align: left !important;
  margin: 0 !important;
}

/* Grupos de Submenus do Dropdown */
.menu-dropdown-secao-grupo-a {
  background-color: #efecec !important;
  border: 1px solid #efecec !important;
  padding: 25px !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  text-align: left !important;
}

.menu-dropdown-secao-grupo-a p {
  color: #2d2d2d !important;        /* Substitua pela cor de texto que você deseja */
  text-align: left !important;
}

.menu-dropdown-secao-titulo-a {
  color: #111111 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.menu-dropdown-secao-grupo-a ul {
  padding: 10px !important;
  margin: 0 !important;
}

.menu-dropdown-secao-grupo-a li {
  color: #240ab9 !important;
  font-size: 0.88rem !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  transition: all 0.15s ease !important;
}

.menu-dropdown-secao-grupo li:hover {
  background-color: #222222 !important;
  color: #f1eaea !important;
  padding-left: 16px !important; /* Efeito sutil de deslocamento no hover */
}
