/* ==========================================================================
   1. RESET UNIVERSAL, FONTES E CORES BASE IMONITORE (ATUALIZADO)
   ========================================================================== */
body {
  font-family: 'Segoe UI', Arial, sans-serif !important;
  background-color: #121212 !important;
  color: #fff !important;
  font-size: 0.9rem !important;
}